{% extends 'base.html' %}

{% block content %}
  <div class="book-info">
    <h2>{{ publisher.name }}</h2>
  </div>

  <div class="book-list">
    <h3>Books:</h3>
    <ul>
      {% for book in publisher_books %}
          <li><a href = {% url 'book-info' book.id %}>{{ book.name }}</a></li>
      {% endfor %}
    </ul>
      <h3>Authors:</h3>
    <ul>
      {% for author in publisher_authors %}
          <li><a href = {% url 'author-info' author.id %}>{{ author.name }}</a></li>
      {% endfor %}
    </ul>
        <h3>Stores:</h3>
    <ul>
      {% for store in publisher_stores %}
          <li><a href = {% url 'store-print' store.id %}>{{ store.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
