<!-- Modal -->
<div class="modal fade" id="ModalWindow" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Your form content here -->

      </div>

    </div>
  </div>
</div>


<div class="modal fade2" id="ModalWindow2" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog2" role="document">
    <div class="modal-content2">
      <div class="modal-header2">
        <button type="button" class="close2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Your form content here -->

      </div>

    </div>
  </div>
</div>
